<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand logo" style="color: #5035f5" href="#">Electro</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
    <form class="form-inline my-2 my-lg-0">
    	<a href="http://localhost:3000/dashboard" class="nav-links">Log in</a>
    </form>
  </div>
</nav>

<div class="container inner-table">
<div class="container intro-text">
  <h1 class="company-moto" style="margin-left: 30px;">Revolutionizing the way we track and consume energy</h1>
<h1 class="company-description" style="margin-left: 30px">Electro is trying to solve three major problems. To allow households to monitor their energy consuption by adding smart features to both large and small appliances, allowing users to pay for the energy in a secure and easy to use way, and giving them an ease of mind by optimizing the energy consumption.</h1>
</div>
<div class="intro-text">
  <img src="http://petrenko.io/assets/img/mac.png" class="mockup" style="margin-right: 50px;">
</div>
</div>

<div class="features" style="margin-top: 90px; padding-top: 90px;">
<div class="container description" style="padding-bottom: 40px;">
<div class="row">
  <div class="col-md-4">
    <i class="fas fa-tachometer-alt"></i>
    <p class="feature-category">Monitoring</p>
    <p>Consumers will know in real-time power consumption of all of their appliances using our webapp</p>
  </div>
  <div class="col-md-4">
    <i class="fas fa-money-bill-wave"></i>
    <p class="feature-category">Payment System</p>
    <p>Consumers will be able to pay online in a secure way. Each transaction will be recorded into Electro's proprietary ledger, which will prevent fraudulent transactions</p>
  </div>
  <div class="col-md-4">
    <i class="fas fa-brain"></i>
    <p class="feature-category">Optimization</p>
    <p>Our machine learning model will optimize power consumption by automatically turning off and on appliances, according to the low and high demand for power at a certain time</p>
  </div>
  </div>
</div>
</div>